<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">MESI - managing tasks</a>
      <div class="nav-collapse collapse">
        <ul class="nav">

          <!--  
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li> 
          -->

        </ul>
      </div>
	  <ul class="nav pull-right" ng-hide="">
	    <li><a href="signup">Signup</a></li>
	    <li class="divider-vertical"></li>
	    <li><a href="signin">Signin</a></li>
	  </ul>
	  <ul class="nav pull-right" ng-show="">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        User <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
	        <li><a href="/signout">Signout</a></li>
	      </ul>
	    </li>
	  </ul>      
    </div>
  </div>
</div>
