div.well
    .alert.alert-info drag the tasks to the programmers
    form(ng-submit="addTask(newtask)",name="form")
        input.addtaskinput(ng-model="newtask.summary",placeholder="type here",name="summary",required)
        span.alert-error(ng-show="form.summary.$error.required && form.summary.$dirty") field cannot be empty.		
    ul.droparea(btf-dragon="task in unassignedTasks")
        span.unassigned
            span.drag-handler
            span(ng-dblclick="editTask(task)",ng-hide="editedTask ==task") {{task.summary}}
            form(ng-submit="doneEditing(editedTask)",ng-show="editedTask==task")
                input.edit(ng-model="editedTask.summary",todo-blur="doneEditing(editedTask)")
            button.destroy(ng-click="removeUnassignedTask(task, $index)")	
 
div.row
    div(class="col-md-{{12/users.length}} tasksof",data-ng-repeat="user in users")
        .well
            h2 {{user.name}}
            ul.droparea(btf-dragon="programmerTask in user.tasks | orderBy:'status.id'")
                li(ng-class="{completed:programmerTask.status.name=='completed','label-success':programmerTask.status.name=='active'}") 
                   span.drag-handler
                   {{programmerTask.summary}}			    
hr		
table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th #
            th Username
            th Role
    tbody
        tr(data-ng-repeat="user in users")
            td {{ user.id }}
            td
               i.icon-twitter(data-ng-show="user.provider == 'twitter'")
               i.icon-facebook-sign(data-ng-show="user.provider == 'facebook'")
               i.icon-google-plus-sign(data-ng-show="user.provider == 'google'")
               i.icon-linkedin(data-ng-show="user.provider == 'linkedin'")
               |  {{ user.name }}
            td
                span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}